.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;

  .container(320px);

  @media @tablet-width {
    flex-direction: row;
    flex-wrap: wrap;

    .container(660px);
  }
}

.contacts__header-main {
  width: 230px;
  margin-top: 42px;
  margin-bottom: 12px;
  padding: 0 10px;

  .font-light-tall;

  @media @tablet-width {
    width: 420px;
    min-height: 20px;
    margin-top: 36px;
    padding: 5px 120px;

    .font-main-header;
  }
}

.contacts__type-header {
  margin-bottom: 0;

  .font-bold-medium;
}

.contacts__type-link {
  padding: 0 10px;

  text-decoration: none;
  color: #d22856;

  .font-light-tall;

  &--address {
    width: 230px;
    margin-top: 0;
  }

  &--email {
    margin-left: 5px;
  }

  &--email:hover {
    text-decoration: underline;
    color: @bg-darkgrey;
  }

  &--email:active {
    text-decoration: none;
    color: @bg-darkgrey;
    opacity: @active-opacity;
  }
}

.contacts__type-wrap {
  @media @tablet-width {
    padding: 5px 40px;
  }
}

.contacts__type-wrap:last-child {
  @media @tablet-width {
    padding: 20px 205px;
  }
}
