.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__header-main {
  width: 230px;
  margin-top: 50px;

  .font-light-tall;
}

.contacts__type-header {
  margin-bottom: 0;

  .font-bold-medium;
}

.contacts__type-link {
  .font-light-tall;
  color: #d22856;

  &--address {
    width: 230px;
    margin-top: 0;
  }
}
