.form__fieldset--achivements,
.form__fieldset--appl-type {
  background-color: red;
}

.form__fieldset-list {
  list-style: none;
}

.form__label {
  &--user-name {
    text-transform: uppercase;
  }
}
