.info {
  display: flex;
  flex-direction: column;
  align-items: center;
<<<<<<< HEAD
  padding-bottom: 285px;
=======
>>>>>>> 13f4f66a313dca69a22299c2bdec00d6ee9d87fe

  background-color: @bg-lightgrey;

  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 50% 110%;
}

.info__header {
  width: 220px;

  .font-light-tall;

  &--long {
    margin-top: 45px;
  }

  &--short {
    margin-top: 15px;
  }
}

.info__advantages-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.info__advantages-header {
  margin-top: 25px;

  .font-bold-medium;
}

.info__advantages-text {
  font-size: 14px;
}

.info__advantages-item {
  width: 252px;
}
