.intro {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  top: -132px;
  background: #1d2631 url("/source/img/bg-back-mobile@1x.jpg") no-repeat 0 0;
}

.intro__img-wrap {
  margin-top: 175px;
  z-index: 1;
}

.intro__download-link {
  display: flex;
  align-items: center;

  margin-top: 25px;
}

.btn {
  width: auto;
  height: 55px;

  padding: 0 35px;

  font-family: "OpenSansBold", "Arial", sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: white;

  border: 3px solid #fff;
  border-radius: 40px;
}

.intro__links-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 32px;

}

.intro__link {
  width: 60px;
  height: 60px;

  margin: 0 15px;

  font: 0/0 a;      /* https://web-standards.ru/articles/css-image-replacement/ */
  text-shadow: none;
  color: transparent;
}

.intro__link--apple-store {
  background-image: url("/source/img/logo-apple.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 47 56;
}

.intro__link--android-store {
  background-image: url("/source/img/logo-android.svg");
  background-repeat: no-repeat;
  background-position: 50% 70%;
  background-size: 43 47;
}

.intro__link--windows-store {
  background-image: url("/source/img/logo-microsoft.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 44 41;
}

.intro__available-text {
  margin-top: 20px;

  width: 240px;

  font-family: "OpenSansLight", "Arial", sans-serif;
  font-size: 14px;
  color: #fff;
}
