.main-nav {
  display: flex;
  flex-direction: column;
}

.main-nav__header-wrap {
  z-index: 12;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 67px;

  background-color: @bg-darkgrey;

  &--no-opacity {
    background-color: @bg-header;
  }

  @media @tablet-width {
    min-height: 110px;
    padding: 10px auto;
  }
}

.main-nav__logo-link {
  width: 100px;
  min-height: 22px;
  padding: 15px;

  background-image: url("../img/logo-pink-white-mobile.svg");
  background-repeat: no-repeat;
  background-position: 20px 50%;
  background-size: 78px 24px;

  @media @tablet-width {
    width: 200px;
    min-height: 70px;

    background-image: url("../img/logo-pink-white-tablet.svg");
    background-position: 25% 35%;
    background-size: 150px auto;
  }
}

.main-nav__toggle {
  display: flex;
  min-height: 22px;
  padding: 30px 45px;

  border-width: 0;

  cursor: pointer;
}

.main-nav--closed .main-nav__toggle {
  background-color: transparent;
  background-image: url("../img/icon-menu-burger.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 50px 24px;

  @media @tablet-width {
    background-position: 68% 50%;
  }
}

.main-nav--opened .main-nav__toggle {
  background-color: transparent;
  background-image: url("../img/icon-menu-cross.svg");
  background-repeat: no-repeat;
  background-position: 68% 47%;
  background-size: 23px 22px;

  @media @tablet-width {
    background-position: 70% 50%;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;

  background-color: @bg-darkgrey;

  .reset-indent;
}

.main-nav__item {
  border-bottom: 1px solid #000000;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.15);
}

.main-nav__link {
  display: flex;
  justify-content: center;
  min-height: 20px;
  padding: 17px 10px;

  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;

  .font-bold-medium;

  &:hover {
    color: @hover-color;
  }

  &:active {
    color: @active-color;
  }

  @media @tablet-width {
    padding: 16px 5px;
  }
}

.main-nav--closed .main-nav__item {
  display: none;
}

.main-nav--opened .main-nav__list {
  position: relative;
  z-index: 12;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__list {
  min-height: 0;
}

.main-nav--nojs .main-nav__item {
  display: flex;
}
