.main-nav {
  width: 320px;
  background-color: #283645;
}
.main-nav__toggle {
  position: absolute;
  top: 21px;
  left: 250px;
  margin-top: 0;
  background: url("/source/img/icon-menu-cross.svg") no-repeat 0 0;
  border: none;
  width: 50px;
  height: 24px;
}
.main-nav__list {
  display: flex;
  flex-direction: column;
  margin-left: -40px;
}
.main-nav__item {
  display: flex;
  align-items: center;
  width: auto;
  height: 63px;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.15);
  border: 1px solid #000;
  list-style-type: none;
}
.main-nav__link {
  margin: 0 auto;
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
