.page-header {
  margin-bottom: -65px;

  background-color: @bg-page-header;

  &__header {
    padding: 85px 25px;

    color: #ffffff;

    .container();
    .font-light-tall;
  }
}

.page-header__img-wrap {
  position: relative;
  top: -70px;

  height: 240px;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 2px;

  .container(320px);

  &--main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 462px;

    background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0% 100%, center 2px;
  }
}
