.page-header {
  background: #1d2631 url("../img/bg-back-mobile@1x.jpg") no-repeat 50% 0%;
}
.intro__img-wrap {
  margin-top: 0;
}
.main-nav--opened.page-header,
.main-nav--nojs.page-header {
  height: 300px;
}
.main-nav--nojs.page-header {
  min-height: 0;
}
