.post {

  text-align: left;
  .container(280px);
}

.post__photo-review {
  background-color: @bg-lightgrey;
}

.post__user-name {
  font-style: normal;
  .font-bold-small;
}

.post__time-ago {
  .font-light-small;
}

.post__text {
  .font-normal-small;
}

.post__like {
  color: @hover-color;
  .font-normal-verysmall;
}
