.price {
  position: relative;

  display: flex;
  flex-direction: column;
  margin: 0 auto;

  background-color: @bg-lightgrey;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: 100% 15%;
  background-position: 0 -20px;

  overflow: hidden;

  @media @tablet-width {
    background-size: 100% 20%;
    background-position: 0 -10px;
  }
}

.price__wrapper {
  .container(320px);

  margin-top: 90px;

  @media @tablet-width {
    .container(660px);
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

.slider {
  width: 276px;
  margin-left: -259px;

  text-transform: uppercase;

  border-collapse: collapse;

  table-layout: fixed;

  @media @tablet-width {
    .container(153px);
  }
}

.slider td,
.slider th {
  width: 275px;

  border: 2px solid @tb-lightgrey;

  overflow: hidden;

  @media @tablet-width {
    width: 152px;
  }
}

.slider__header {
  min-height: 40px;

  .font-bold-medium;

  &--desc,
  &--price {
    margin: 0;
  }

  &--hit::before {
    content: "";
    position: absolute;

    width: 74px;
    height: 74px;

    background-image: url("../img/bg-hit.svg");
    background-repeat: no-repeat;
    background-position: -1px -1px;
    transform: translate(-141px, 0);
  }

  &--hit::after {
    content: "ХИТ";
    position: absolute;

    width: 74px;
    height: 74px;

    color: #ffffff;
    .font-normal-small;

    transform: translate(-139px, -92px) rotate(-45deg);
  }

  &--hidden {
    display: none;
  }
}

.slider__property {
  width: 276px;
  height: 56px;
  padding-left: 22px;

  font-size: 14px;
  text-align: left;

  border: 2px solid @tb-lightgrey;

  &--rose-filter::after {
    left: 80px;
  }

  &--smiles::after {
    left: 130px;
  }

  &--comments::after {
    left: 100px;
  }
}

.slider tr {
  background-color: #ffffff;
  border: 2px solid @tb-lightgrey;

  &:first-child {
    color: #ffffff;
    background-color: @bg-darkgrey;
  }
}

.slider__header p:first-child {
  margin-top: 8px;
  padding: 5px;

  @media @tablet-width {
    margin-top: 16px;
    padding: 0 5px;
  }
}

.slider__header p:last-child {
  margin-top: -16px;
  padding: 6px;

  .font-light-tall;

  @media @tablet-width {
    margin-top: -14px;
    padding: 0 6px;

    .font-light-medium;
  }
}

.slider__row-wrap {
  &--yes::after {
    content: "111";
    position: relative;

    width: 20px;
    height: 20px;

    color: transparent;

    background-image: url("../img/icon-yes.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &--no::after {
    content: "111";
    position: relative;

    width: 20px;
    height: 20px;

    color: transparent;

    background-image: url("../img/icon-no.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.slider__property--before {
  display: none;

  @media @tablet-width {
    display: table-cell;

    text-transform: none;

    transform: translate(18px, 0);
  }
}

.slider span {
  display: none;
  color: transparent;
}

.price__toggles {
  .container();

  @media @tablet-width {
    display: none;
  }
}

.price__toggle {
  margin: 32px 3px 50px 0;
}

@media @tablet-width {
  .slider__header {
    font-size: 16px;

    &--desc,
    &--price {
      margin: 0;
    }

    &--hit::before {
      content: "";
      position: absolute;

      width: 70px;
      height: 70px;

      background-image: url("../img/bg-hit-tablet.svg");
      background-repeat: no-repeat;
      background-position: -1px -1px;
      background-size: 80% 80%;

      transform: translate(-78px, 0);
    }

    &--hit::after {
      content: "ХИТ";
      position: absolute;

      width: 74px;
      height: 74px;

      color: #ffffff;
      .font-normal-small;

      transform: translate(-80px, -92px) rotate(-45deg);
    }

    &--hidden {
      display: table-cell;
      background-color: @bg-lightgrey;
      border: none;
    }
  }
}

@media @tablet-width {
  .slider__property {
    width: 152px;
    height: 40px;
    padding-left: 0;

    &--rose-filter,
    &--smiles,
    &--comments {
      .reset-text-for-links;
    }

    &--rose-filter::after {
      bottom: 10px;
      left: 9px;
    }

    &--smiles::after {
      left: -15px;
    }

    &--comments::after {
      left: -45px;
    }
  }
}
