.price {
  position: relative;

  display: flex;
  flex-direction: column;
  margin: 0 auto;

  background-color: @bg-lightgrey;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: 100% 30px;

  overflow: hidden;
}

.price__wrapper {
  .container(320px);

  margin-top: 70px;
}

.slider {
  width: 276px;
  margin-left: -259px;

  text-transform: uppercase;

  border-collapse: collapse;

  table-layout: fixed;
}

.slider td,
.slider th {
  width: 275px;

  border: 2px solid @tb-lightgrey;

  overflow: hidden;
}

.slider__header {
  min-height: 40px;

  .font-bold-medium;

  &--desc,
  &--price {
    margin: 0;
  }
}

.slider__property {
  width: 276px;
  height: 56px;
  padding-left: 22px;

  font-size: 14px;
  text-align: left;

  border: 2px solid @tb-lightgrey;

  &--rose-filter::after {
    left: 80px;
  }

  &--smiles::after {
    left: 130px;
  }

  &--comments::after {
    left: 100px;
  }
}

.slider tr {
  background-color: #ffffff;
  border: 2px solid @tb-lightgrey;

  &:first-child {
    color: #ffffff;
    background-color: @bg-darkgrey;
  }
}

.slider__header p:first-child {
  margin-top: 8px;
  padding: 5px;
}

.slider__header p:last-child {
  margin-top: -16px;
  padding: 6px;

  .font-light-tall;
}

.slider__row-wrap {
  &--yes::after {
    content: "111";
    position: relative;

    width: 20px;
    height: 20px;

    color: transparent;

    background-image: url("../img/icon-yes.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &--no::after {
    content: "111";
    position: relative;

    width: 20px;
    height: 20px;

    color: transparent;

    background-image: url("../img/icon-no.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.slider span {
  display: none;
  color: transparent;
}

.price__toggle {
  margin: 18px 3px 35px 0;
}

.slider__header--standart {
  background-image: url("../img/bg-hit.svg");
  background-repeat: no-repeat;
  background-position: -1px -1px;
  background-size: 74px 74px;
}

.slider__header--standart p:first-child {
  position: relative;
  top: -3px;
  left: -11px;

  &::before {
    content: "ХИТ";
    position: relative;
    top: 1px;
    left: -58px;

    color: #ffffff;
    font-size: 14px;
    font-weight: @font-weight-normal;
    writing-mode: tb-rl;

    transform: rotate(-135deg);
  }
}
