.reviews__slider-about {
  display: none;

  @media @tablet-width {
    display: flex;
    .reset-indent;
    min-height: 20px;
    padding: 5px;
  }
}

.reviews__slider-header {
  .reset-indent;
  min-height: 20px;
  padding: 0 6px;

  font-style: normal;

  .font-bold-medium;

  @media @tablet-width {
    font-size: 20px;
  }
}

.reviews__slider-text {
  .reset-indent;
  margin-top: 14px;
  min-height: 20px;
  padding: 0 6px;

  .font-normal-small;
  line-height: 2.15;

  @media @tablet-width {
    margin-bottom: 33px;
    .font-normal-medium;
  }
}

.reviews__slider-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 20px;
  padding: 5px 6px;
}

.reviews__slider-item {
  display: flex;
  flex-direction: column;

  .container(290px);

  @media @tablet-width {
    flex-direction: column-reverse;
    align-items: center;

    .container(650px);
    margin-top: 69px;
  }
}

.reviews__toggles {
  .container();
  min-height: 25px;
  margin-bottom: 35px;
  padding: 11px 10px;

  @media @tablet-width {
    margin-bottom: 15px;
  }
}
