.reviews__slider-header {
  font-style: normal;
  .font-bold-medium;
}

.reviews__slider-text {
  font-size: 14px;
}

.reviews__slider-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.reviews__slider-item {
  width: 276px;
}

.reviews__toggles {
  display: flex;
  justify-content: center;
  margin-top: 7px;
}

.reviews__toggle {
  margin: 0 3px 50px 3px;
}
