.slider-bullet {
  width: 20px;
  height: 20px;

  background: transparent;

  border: none;

  cursor: pointer;
}

.slider-bullet::after {
  position: absolute;
  content: "";

  display: flex;
  justify-content: center;

  width: 6px;
  height: 6px;

  background-color: #bec2c7;
  border: 3px solid #ffffff;
  border-radius: 100%;
}

.slider-bullet--active::after {
  background-color: #ffffff;
  border: 3px solid #283645;
}
