@bg-lightgrey: #f2f2f2;
@tb-lightgrey: #e5e5e5;
@bg-page-header: #1d2631;
@bg-darkgrey: #283645;
@bg-header: rgba(29, 39, 50, 0.3);
@hover-color: rgb(210, 40, 86);
@active-opacity: 0.3;
@active-color: rgba(210, 40, 86, @active-opacity);
@upload-active-color: rgba(255, 255, 255, @active-opacity);

@bg-form-btn-normal: #2aab6d;
@bg-form-btn-hover: #1c9b5e;
@bg-form-btn-down: #1c9b5e;
@bg-form-btn-disabled: #e5e5e5;
@form-btn-normal-color: rgb(255, 255, 255);
@form-btn-active-color: rgba(255, 255, 255, @active-opacity);

@mobile-width-only: 659px;
@tablet-width: 660px;
@desktop-width: 1200px;

@font-weight-light: 300;
@font-weight-normal: 400;
@font-weight-bold: 700;
